= f.label :type_id, "Тип компании"
= f.select :type_id, Company::TYPES.reject {|key, value| key < 10}.invert, { include_blank: true }, class: "chzn span8"
p

= f.label :name, "Краткое название компании"
= f.text_field :name, class: "span8", placeholder: "Краткое название компании"

= f.label :full_name, "Полное название компании"
= f.text_field :full_name, class: "span8", placeholder: "Полное название компании"

= f.label :prev_name, "Прежнее название компании (если имеется)"
= f.text_field :prev_name, class: "span8", placeholder: "Прежнее название компании"

= f.label :form, "Организационно-правовая форма"
= f.text_field :form, class: "span8", placeholder: "Организационно-правовая форма"

= f.label :place, "Местонахождение"
= f.text_field :place, class: "span8", placeholder: "Местонахождение"

= f.label :description, "Описание"
= f.markdown_textarea :description, class: "span8", placeholder: "Описание компании", rows: 6

