- if defined? f.object.class::TYPES
  = f.label  :type_id, "Тип компании"
  = f.select :type_id, f.object.class::TYPES.invert, { include_blank: true }, class: "span8 chzn", "data-placeholder" => "Выберите тип компании"

= f.label      :name, 'Краткое наименование'
= f.text_field :name, class: 'span8'

= f.label      :full_name, 'Полное наименование'
= f.text_field :full_name, class: 'span8'

= f.label      :form, "Организационно-правовая форма"
= f.text_field :form, class: 'span8'

= f.label      :old_name, 'Прежнее название (если имеется)'
= f.text_field :old_name, class: 'span8'

= f.label      :creation_date, 'Год и месяц основания'
= f.text_field :creation_date, class: 'datepicker'

= f.label :description, "Краткое описание/бизнес модель/условия инвестирования"
= f.markdown_textarea :description, class: "span8", rows: 6
        
= f.label  :location_ids, 'Страна юрисдикции'
= f.select :location_ids, Location.all.map {|i| [i.name, i.id]}.sort, {}, class: "span8 chzn", multiple: true, "data-placeholder" => "Выберите страну юрисдикции"

= f.label :sector_ids, 'Сфера/сектор деятельности + тэги как ключевые слова для поиска'
= f.select :sector_ids, Scope.all.map { |i| [ i.self_and_ancestors.map(&:short_name).join(" → "), i.id ] }.sort, {}, class: 'span8 chzn', multiple: true, "data-placeholder" => "Выберите сектор деятельности"
.form-actions
    .offset4
      button.btn.btn-large.btn-primary
        = @company.persisted? ? "Сохранить" : "Создать"
      = link_to "Отмена", [:admin, :companies], class: "btn btn-large"