p Добрый день.

p Спасибо за проявленный интерес к проекту. Venture Database создается как единый центр статистики и аналитики по российскому инновационно-венчурному рынку.

p Ваш логин: #{@user.email}
p Ваш пароль: #{@user.password}

p Чтобы принять участие в закрытом тестировании платформы перейдите по #{link_to "ссылке", root_url}.

p С уважением, команда Venture Database.
