@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/buttons"
@import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/pagination"
@import "bootstrap/tooltip"

@import "compass"
@import "reset"

$font: "PT Sans Caption", verdana, sans-serif
$narrow-font: "PT Sans", $font

@import "dropdown"

@import "homepage"
@import "promo"
@import "cabinet"
@import "overview"
@import "stream"

+reset-and-normalize

html, body
  height: 100%

body
  font-family: $font
  font-size: 14px
  background: #939393

.container
  margin: 0 auto
  width: 1200px
  @media (max-width: 1200px)
    width: 950px

p + p
  margin-top: 0.5em

a
  text-decoration: none
  &:hover
    text-decoration: underline

.content-wrap
  margin: 0 100px
  @media (max-width: 1200px)
    margin: 0 25px
