@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/buttons"
@import "bootstrap/tables"
@import "bootstrap/forms"
// @import "bootstrap/sprites"
@import "bootstrap/pagination"
@import "bootstrap/tooltip"

@import "compass"
@import "reset"

@import "homepage"
@import "promo"
@import "cabinet"
@import "overview"

+reset-and-normalize

html, body
  height: 100%

body
  font-family: "PT Sans Caption", arial, sans-serif
  font-size: 14px
  background: #939393

.container
  margin: 0 auto
  width: 1150px
  @media (max-width: 1200px)
    width: 1024px

p + p
  margin-top: 0.5em

a
  text-decoration: none
  &:hover
    text-decoration: underline
