$text-color: #60656e

.cabinet
  header
    .panel
      background: #252525
      margin: 0 auto
      height: 75px
      position: relative
      #logo
        position: absolute
        top: 17.5px
        left: 25px
        width: 320px
        height: 40px
        background: image-url("logo.png") no-repeat
        font-size: 0
      nav
        position: absolute
        top: 17.5px
        right: 25px
        display: table
        text-align: right
        height: 40px
        .link
          display: table-cell
          padding: 0 1em
          text-align: center
          vertical-align: middle
          a
            color: white
    > nav
      font-size: 0.9em
      height: 50px
      line-height: 50px
      background-color: #fff
      +filter-gradient(#fff, #e7e9ec)
      +background-image(linear-gradient(top, #fff, #e7e9ec))
      border-bottom: solid #c5c5c5 1px
      +box-shadow(0 1px 1px -1px #e7e9ec)
      text-align: center
      text-transform: uppercase
      position: relative
      .link
        display: inline-block
        padding: 0 1em
        a
          color: #bcc1cb
      .link.active
        position: relative
        a
          color: $text-color
        &:after
          content: ""
          height: 11px
          width: 18px
          position: absolute
          bottom: -11px
          left: 50%
          margin-left: -9px
          background: image-url("arrow-down.png") no-repeat

  .main-area
    background: #f7f8fa
    padding-bottom: 50px
    font-size: 0.9em
    > nav
      float: left
      width: 220px
      .search
        padding-left: 15px
      ul
        li
          padding-left: 2em
          a
            display: block
            padding: 1em 0
            color: $text-color
        li.active
          background: white
          border: solid #dedfe1
          border-width: 1px 0
    .cabinet-page
      padding: 40px
      margin-left: 219px
      min-height: 300px
      background: white
      border: solid #dedfe1
      border-width: 0 0 1px 1px
      color: $text-color
      line-height: 1.5
      h1
        font-size: 2em
      h2
        font-size: 1.5em
        line-height: 1.5
      .table
        margin: 30px -40px
        td
          border: 0
        td, th
          &.center
            text-align: center
          &:first-child
            padding-left: 40px
          &:last-child
            padding-right: 40px

.filters
  select
    width: 400px
  input.date
    width: 100px
  input.amount
    width: 100px
  form
    > div + div
      margin-top: 10px

.pagination
  text-align: center

section.deal
  h2
    margin-top: 1em
  .label
    font-size: 1.1em
    margin-top: 0.5em
  .investment + .investment
    margin-top: 0.5em

.date-select
  float: right
  .btn:first-child
    border-radius: 3px 0 0 3px
