$text-color: #60656e

.cabinet
  .container > header
    +background-image(linear-gradient(top, #fff, #e4e6e9))
    height: 50px
    border-bottom: solid 1px #c5c5c5
    position: relative
    +box-shadow(0 1px 1px -1px #e7e9ec)
    .content-wrap
      position: relative
    #logo
      position: absolute
      top: 14px
      left: 0
      width: 231px
      height: 22px
      background: image-url("logo-dark.png") no-repeat
      font-size: 0
    nav
      position: absolute
      top: 5px
      right: 0
      display: table
      text-align: right
      height: 40px
      .link
        display: table-cell
        padding: 0 1em
        text-align: center
        vertical-align: middle
        a
          color: #919a9b

  .main-area
    background: #fff
    font-size: 0.9em
    padding: 40px 0
    color: $text-color
    line-height: 1.5
    .content-wrap
      > nav
        float: left
        width: 150px
        li:first-child
          a
            border-top: solid #e5e5e5 1px
        a
          display: block
          position: relative
          padding: 12px 0 12px 30px
          color: #60656e
          text-transform: uppercase
          line-height: 1
          border-bottom: solid #e5e5e5 1px
          font-size: 0.9em
          font-weight: bold
          letter-spacing: 1px
          &.active
            opacity: 0.4
            background: #f4f4f4
          &:before
            content: ""
            position: absolute
            left: 8px
            top: 10px
            height: 13px
            width: 13px
            background: image-url("menu-icons.png") no-repeat
          &.projects:before
            background-position: -13px 0
          &.statistics:before
            background-position: -26px 0
          &.researches:before
            background-position: -39px 0
          &.deals:before
            background-position: -52px 0
      > aside
        float: right
        width: 200px
        line-height: 1.3
        +box-shadow(0 0 10px -2px #ccc)
        h3
          font-size: 1.1em
          margin-bottom: 1em
        > section
          padding: 15px
          > div + div
            margin-top: 15px
        > section + section
          border-top: solid 1px #efeff0
        p
          margin-bottom: 5px
        .year a
          width: 56px
        .sort a
          width: 84px
        .dropdown
          width: 100%
      aside + .content
        margin-right: 230px
      .content
        margin-left: 180px
        min-height: 300px
        h1
          font-size: 2.7em
        h2
          font-size: 1.7em
          line-height: 1.5
        .table
          margin: 30px 0
          thead
            // +box-shadow(0 10px 3px -2px #eee)
          th
            white-space: nowrap
            font-weight: normal
          td
            border: 0
          td, th
            &.center
              text-align: center
        a
          color: #0b90a4
        form.search
          margin: 15px 0
          input
            width: 85%
          button
            border: 0
            background: none
            margin: -5px 0 0 5px
        .pagination
          margin-top: 60px
          font-size: 1.1em
          a
            color: #6e6e6e
            padding: 8px 14px
  .container > footer
    background: #f7f8fa
    border-top: solid 1px #dedfe1
    color: #cacbd0
    padding: 60px 0
    .content-wrap
      position: relative
    .copy
      position: absolute
      top: 0
      left: 0
    nav
      position: absolute
      top: 0
      right: 0
      display: table
      text-align: right
      .link
        display: table-cell
        padding: 0 1em
        text-align: center
        vertical-align: middle
        a
          color: inherit

.filters
  select
    width: 400px
  input.date
    width: 100px
  input.amount
    width: 100px
  form
    > div + div
      margin-top: 10px

.pagination
  text-align: center

section.deal
  h2
    margin-top: 1em
  .label
    font-size: 1.1em
    margin-top: 0.5em
  .investment + .investment
    margin-top: 0.5em

.horizontal-select
  display: inline-block
  vertical-align: middle
  font-size: 12px
  border: solid 1px #d1d1d1
  border-radius: 5px
  +box-shadow(0 1px 0 0 #f0f0f0)
  overflow: hidden
  font-family: $narrow-font
  > a
    display: inline-block
    padding: 5px 0
    color: inherit !important
    width: 55px
    text-align: center
    background: white
    &.active
      background: #f8f8f8

.profile
  > .meta
    color: #888
    margin-bottom: 1em
    font-size: 1.1em
    +clearfix
  > section
    margin: 15px 0
    padding: 15px 0
    border-top: solid 2px #f7f7f7

