section.overview
  .chart
    width: 600px
    height: 350px
    margin: 0 auto
  .directions
    display: table
    width: 100%
    margin: 30px 0
    .circles
      display: table-row
      height: 120px
      > div
        display: table-cell
        text-align: center
        vertical-align: middle
        padding: 0 10px
        .circle
          display: inline-block
          vertical-align: middle
          color: white
    .titles
      display: table-row
      > div
        display: table-cell
        text-align: center
        padding-top: 10px
        font-size: 11px
