.search
  .result
    padding: 20px 0
    > div + div
      margin-top: 5px
    .deal
      > div + div
        margin-top: 5px
      .meta
        font-size: 0.95em
        color: #b3b3b3
        display: inline-block
      .round
        color: #b3b3b3
        display: inline-block
        margin-right: 25px
  .result + .result
    border-top: solid 2px #f7f7f7
  .result + .result.inline
    border-top: solid 1px #e6e6e6
