
.deals-stream
  .deal
    padding: 20px 0
    .date
      margin-bottom: 10px
      font-size: 0.8em
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 1px
    .description
      font-size: 1.1em
    .meta
      margin-top: 10px
      font-size: 0.95em
      color: #b3b3b3
  .deal + .deal
    border-top: solid 2px #f7f7f7
  .deal + .deal.inline
    border-top: solid 1px #e6e6e6

.profile
  .deals-stream
    .deal
      .description
        font-size: 1em
