
.deals-stream
  .deal
    border-top: solid 2px #f7f7f7
    .date
      margin: 20px 0 10px
      font-size: 0.8em
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 1px
    .description
      font-size: 1.1em
    .meta
      margin: 10px 0 20px
      font-size: 0.95em
      color: #b3b3b3

.profile
  .deals-stream
    .deal
      .description
        font-size: 1em
