section.deals-stream
  margin-right: 250px
  a
    color: #0b90a4
  .deal
    .date
      margin: 20px 0 10px
      font-size: 0.8em
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 1px
    .description
      font-size: 1.1em
    .meta
      margin: 10px 0 20px
      font-size: 0.95em
      color: #b3b3b3
  .deal + .deal
    border-top: solid 2px #f7f7f7
  .pagination
    margin-top: 60px
    font-size: 1.1em
    a
      color: #6e6e6e
      padding: 8px 14px
