p Добрый день, #{@resource.email}, вас приветствует проект Venture Database.
p Вы запросили ссылку для сброса пароля. Вот она
p = link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p Если это были не вы, извините за беспокойство, просто игнорируйте это письмо.

