= javascript_include_tag "https://www.google.com/jsapi"

javascript:
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(#{raw chart.data});

    var options = #{raw chart.options};

    var chart = new google.visualization.#{chart.type}(document.getElementById('chart'));
    chart.draw(data, options);
  }

#chart
