= f.text_field :name, class: "span8", placeholder: "Краткое название копмании"
= f.text_field :full_name, class: "span8", placeholder: "Полное название копмании"
= f.text_field :form, class: "span8", placeholder: "Организационно-правовая форма"
= f.text_field :place, class: "span8", placeholder: "Местонахождение"
